* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
/*  ----------------navbar start ------------- */
.container {
  margin: 0 auto;
  width: 1200px;
}
.navbar .container .ul-navbar {
  width: 100%;
  border: 2px solid red;
}
.navbar .container .ul-navbar .logo {
  width: 50px;
}
.navbar .container .ul-navbar li a {
  text-decoration: none;
  list-style: none;
  color: black;
}
.navbar .container .ul-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .ul-navbar .ul {
  width: 300px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.navbar .container .mobile-hambur .none{
  font-size: 0;
  /* display: none; */
}
.navbar .container  .none{
  display: none;
}
.fa-xmark{
  position: absolute;
  top: 20px;
  left: 50px;
}
.navbar .container .mobile-nav .mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #f0f0f4;
  padding: 24px;
  width: 35%;
  height: 100vh;
  text-align: center;
  transition: 0.5s ease;
}
.navbar .container .mobile-list {
  margin: 0;
  padding: 0;
}

.navbar .container .mobile-item {
  margin-top: 32px;
}
.navbar-logo {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.navbar-logo img {
  width: 20px;
}

.navbar .ul-nav {
  width: 1110px;
  margin-top: 40px;
  background: #f0f0f4;
  /* border: 2px solid red; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.navbar .ul-nav li a {
  text-decoration: none;
  list-style: none;
  color: black;
  transition: 0.2s;
}
.navbar .ul-nav li a:hover {
  border-bottom: 3px solid red;
}
/* -------------navbar end  - --- ---- - -  */
.header .container .bootstrap {
  width: 870px;
  height: 400px;
}
.header .container .rectangle {
  width: 231.77px;
  height: 400px;
  border: 2px solid rgb(78, 76, 76);
}
.header .container .rectangle .rectangle2 {
  background-color: #f0f0f4;
  width: 225.77px;
  height: 99px;
}
.header .container .rectangle button {
  width: 100.69px;
  border: none;
  background: #1c62cd;
}
.header .container .rectangle .btn {
  display: flex;
  justify-content: space-between;
}
.header .container .rectangle h1 {
  color: #1c62cd;
  font-size: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .rectangle .rectangle2 {
  margin-top: 25px;
  text-align: center;
}
.header .container .rectangle .rectangle2 span {
  font-size: 20px;
  color: #1c62cd;
}

.posik .posik-text {
  width: 500px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.posik .posik-text p {
  padding: 7px;
}
.posik .posik-text p:hover {
  padding: 7px;
  background-color: #f0f0f4;
}
.posik .posik-text p:nth-child(2) {
  background-color: #f0f0f4;
}
.user-cards {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  margin-top: 1rem;
}
.user-cards .card {
  width: 350px;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
}
.user-cards .card b {
  font-size: 20px;
}

/* tovar start  */
.tovar {
  margin-top: 50px;
}
.tovar .container .tovar-navbar {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.tovar .container .tovar-navbar li a {
  color: black;
  list-style: none;
  text-decoration: none;
}

.carousel-control-next-icon {
  position: relative;
  left: 50px;
  z-index: 2;
  background-color: black;
  color: black;
}
.carousel-control-prev-icon {
  position: relative;
  right: 50px;
  background-color: black;
  color: black;
}
.tovar .card .btn {
  position: relative;
  top: 15px;
  left: 185px;
}

.tovar .card .card-text {
  text-align: center;
  font-size: 30px;
}
.tovar .card .card-text:hover {
  cursor: pointer;
  color: #1c62cd;
}
.tovar .card{
    transition: 0.5s;
}
.tovar .card:hover {
    transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.tovar .card .card-title:hover {
  cursor: pointer;
  color: #1c62cd;
}
.tovar .btn3 {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: none;
  width: 252px;
  height: 50px;
  background: #f0f0f4;
  transition: 0.5s;
}
.tovar .btn3:hover {
  background: #1c62cd;
}
.banner .container{
    margin-top: 75px;
    /* padding: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c62cd;
}
.banner .container .banner-text p{
    width: 400px;
    color: #fff;
    font-size: 45px;
}
.banner .container .banner-btn button{
    width: 200px;
    /* border: none; */
    padding: 15px;
    background-color: #fff;
    transition: 0.5s;
}
.banner .container .banner-btn button:hover{
    background-color: #1c62cd;
}


.futter{
    background: #F0F0F4;
}
.futter-items{
    padding: 40px 0;
}
.futter .buttons{
    margin-left: 38.60%;
    margin-top: 40px;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.futter .buttons span{
    font-size: 10px;
}
.futter-item{
    display: flex;
    justify-content: space-between;
}
.futter-item .futt-left span{
    font-size: 14px;
    width: 240px;
    display: block;
}
.futter-item .futt-left .futter-inp{
    width: 350px;
}
.futter-item .futt-left .futter-inp button{
    width: 120px;
    text-transform: uppercase;
    background-color: #1C62CD;
    color: #fff;
}
.futter-item .futt-center{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.futter-item .futt-center ul{
    margin-left: -30px;
}
.futter-item .futt-center ul li a{
    text-decoration: none;
    color: black;
}
.futter-item .futt-right{
    width: 20%;
    margin-right: 50px;
    margin-top: 30px;
}
.futter-item .futt-right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -30px;
}
.futter-item .futt-right ul li a{
    font-size: 40px;
    color: #2F3035;
}
/* futter end */


@media (max-width: 1025px) {
  .container {
    width: 800px;
  }
  .navbar .ul-nav {
    width: 123%;
  }
  .header .container .rectangle {
    margin-top: -50px;
    
    margin: 0 auto;
  }
  .header .container {
    display: block;
  }
  .header .container .bootstrap {
    width: 780px;
    height: 400px;
  }
  .carousel-control-next-icon {
    position: relative;
    left: 0px;
  }
  .carousel-control-prev-icon {
    position: relative;
    right: 0px;
  }
}
@media (max-width: 769px) {
  .navbar .container .ul-navbar .nav-item{
    display: none;
  }
  .header .container .bootstrap {
    width: 680px;
    height: 400px;
  }
  
  .navbar .ul-nav {
    width: 109%;
  }
  .navbar .container .mobile-hambur .none{
    font-size: 20px;
    display: block;
  }
  .banner .banner-text p b{ 
    font-size: 22px;
  }
  .banner .banner-text{
    margin-top: -50px;
    padding: 50px;
    margin-left: -50px;
    /* border: 2px solid red; */
  }
  .banner .banner-btn{
    position: absolute;
    top: px;
    left: 300px;
    margin-top: 110px;
    z-index: 200;
    /* border: 2px solid red; */
    display: block;
  }
  .container .futt-right ul li a i{
    /* border: 2px solid red; */
    position: relative;
    left: -500px;
    top: 100px;
  }
  .futt-center ul{
    padding: 25px;
  }
  .futt-center {
    margin-left: 50px;
    padding: 25px;
  }
}